@import 'variables.scss';

#header {
  height: 8em;
  background-color: $blue;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  margin-bottom: 3em;
}

#header span {
  font-size: 2em;
}
