$blue: #1E3553;
$white: #ffffff;
$light-blue: #337ab7;
$grey: #777777;
$matt: #337ab7;

$content-bg: #fff;
$content-text: #1E3553;

$sidebar-bg: #1E3553;
$sidebar-text: #FFFFFF;
$sidebar-width: 260px;

$loader-color: #1E3553;
